@import 'vars';
@import 'mixins';

@include main;

section {
	padding: 7em 15em;
}

main, footer {
	padding: 2em 15em;
}

main {
	height: 100vh;
	background-image: url('../slike/background.jpg');
	background-size: cover;
}

header {
	background-color: white;
	padding: 1em;
	@include clearfix;
}

.logo {
	font-size: 2em;
	font-family: $logo_font;
	font-weight: bold;
	float: left;
	span {color: $main_red;}
}

nav {
	float: right;
	ul{
		margin-top: 1em;
		list-style: none;
		li{
			display: inline-block;
			margin-left: 1em;
			a{
				text-decoration: none;
				text-transform: uppercase;
				&:hover {
					color: black;
				}
			}
		}
	}
}

h1, h3 {
	color: white;
	text-align: center;
	font-weight: normal;
}

h1 {
	font-size: 3em;
	border-bottom: 1px solid $main_red;
	width: 60%;
	margin: 20% auto 0; /*gore, levo/desno, dole*/
}

h2 {
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 2em;/*koristi se da ne bi doslo do lepljenje sekcija*/
}

#catalog {
	background-color: $grey_background;

	@include clearfix;

	.column {
		float: left;
		width: 25%;
		text-align: center;
		img { width: 90%; }
		p { margin: 1em 0; }
	}
}

.button {
		background-color: $main_red;
		padding: 0.5em 2em;
		color: white;
		text-decoration: none;
		text-transform: uppercase;
		&:hover { background-color: black; }
}

#pricing {
	text-align: center;
	a { display: none;} /*sakriveno dugme zbog potrebe manje verzije sajta da bi se tada pokazalo*/
	table {
		width: 60%;
		margin: 0 auto;
		border-collapse: collapse; /*spaja da se ne vide bele linije kao tebela*/

		td, th {
			padding: 1em;
			text-align: center;
		}
		thead {
			background-color: $main_red;
			th {
				color: white;
				&:first-child { background-color: $red_dark;} /*boji samo prvu celiju tamnije*/
			}
		}
		tbody {
			tr { border-bottom: 1px solid $main_text_color;}
			td:first-child { background-color: $grey_background;}
		}
	}
}